{% extends 'normaladmin/admin-base.html' %}
{% block content %}
    <div class="page-box">
        <div class="text-center">
            <h2 class="section-header">Result History</h2>
            <p class="normal-text2">View all approved or rejected result</p>
        </div>
        <div style="width: 100%;">
            <table class="upload-table">
                <tr>
                    <th>
                        Session
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Date Uploaded
                    </th>
                    <th>
                        Date Approved or Rejected
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Uploaded by
                    </th>
                </tr>
                {% for object in page_obj %}
                <tr>
                    <td>
                        <a href="">
                          {{object.session}}  
                        </a>
                    </td>
                    <td>
                        {{object.get_semester_display}}
                    </td>
                    <td>
                        {{object.department}}
                    </td>
                    <td>
                        {{object.type}}
                    </td>
                    <td>
                        {{object.date_created}}
                    </td>
                    <td>
                        {{object.date_updated}}
                    </td>
                    <td class="{% if object.status == 2 %}approved{% else %}rejected{% endif%}">
                        {{object.get_status_display}}
                    </td>
                    <td>
                       <div class="flex">
                        <div class="table-image">
                            <img src="{{object.uploaded_by.image.url}}" alt="">
                        </div>
                        <div>
                            {{object.uploaded_by}}
                        </div>
                       </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
                {% include 'paginator.html' %}
        </div>
        
    </div>
{% endblock %}