{% extends 'login-base.html' %}
{% block title %}Student Login{% endblock %}
{% block content %}
        <form action="" method="post">
            {% csrf_token %}
        <h2 class="text-center text-bold" style="margin-bottom: 10px;">Student Login</h2>
        <span class="error-text">
            {{form.non_field_errors|default:""}}
        </span>
        <div class="form-group">
            <label class="form-input-label">Email</label>
            <input type="email" name="email" class="form-input" placeholder="EX: emailaddress@domain.com" value="{{form.email.value|default:''}}" required>
            <span class="error-text">{{form.email.errors|default:""}}</span>
        </div>
        <div class="btn-middle-container">
            <input type="submit" class="form-btn" value="Login">
        </div>
        </form>
{% endblock %}