{% extends 'login-base.html' %}
{% block title %}Student Login Verification{% endblock %}
{% block content %}
        <form action="" method="post">
            {% csrf_token %}
        <h2 class="text-center text-bold" style="margin-bottom: 10px;">Student Login</h2>
        <span class="error-text">
            {{form.non_field_errors|default:""}}
        </span>
        <div class="form-group">
            <p class="normal-text2">A 6-digit Code was sent to your email. input the code to login.</p>
        </div>
        <div class="form-group">
            <label class="form-input-label">Code</label>
            <input type="tel" pattern="\d*" maxlength="6" name="code" class="form-input" placeholder="EX: 012345" required>
            <span class="error-text">{{form.code.errors|default:""}}</span>
        </div>
        
        <div class="btn-middle-container">
            <input type="submit" class="form-btn" value="Login">
        </div>
        <div class="text-center">
            <p class="small-text"> If you did not receive it? <a href="{% url 'student:resend_code' %}">resend it</a></p>
        </div>
        </form>
{% endblock %}