{% extends 'normaladmin/admin-base.html' %}
{% load static %}
{% block content %}
    <div class="form-cover">
        <div class="form-box shadow-box">
            <form action="" method="post">
                {% csrf_token %}
                <h2 class="text-center text-bold" style="margin-bottom: 10px;">Change Password</h2>
                <div id="forms">
                    <div class="form-group">
                        <label class="form-input-label">Current Password</label>
                        <input type="password" name="old_password" value="{{form.old_password.value|default:''}}" class="form-input" required>
                        <span class="error-text">{{form.old_password.errors|default:''}}</span>
                    </div> 
                    <div class="form-group">
                        <label class="form-input-label">New Password</label>
                        <input type="password" name="new_password1" value="{{form.new_password1.value|default:''}}" class="form-input" required>
                        <span class="error-text">{{form.new_password1.value|default:''}}</span>
                    </div> 
                    <div class="form-group">
                        <label class="form-input-label">Confirm New Password</label>
                        <input type="password" name="new_password2" value="{{form.new_password1.value|default:''}}" class="form-input" required>
                        <span class="error-text">{{form.new_password2.value|default:''}}</span>
                    </div>  
                </div>
                
                <div class="btn-middle-container">
                    <button type="submit" class="form-btn" id="submitBtn">
                        Submit
                    </button>
                </div>
                </form>
        </div>    
    </div>
{% endblock %}